@font-face {
  font-family: fira;
  src: url(assets/FiraCode-Retina.ttf);
}

@import url("chota.min.css");
:root {
  --bg-color: #2e3440;
  --bg-secondary-color: #3b4252;
  --font-color: #d8dee9;
  --color-grey: #4c566a;
  --color-darkGrey: #434c5e;
  --font-family-sans: fira;
  --font-family-mono: fira;
  --color-primary: #5e81ac;
}

body {
  --bg-color: #2e3440;
  --bg-secondary-color: #3b4252;
  --font-color: #d8dee9;
  --color-grey: #4c566a;
  --color-darkGrey: #434c5e;
  --font-family-sans: fira;
  --font-family-mono: fira;
  --color-primary: #5e81ac;
  user-select: #434c5e;
}
#links a {
  color: var(--font-color);
}
#canvasContainer {
  width: auto;
  height: 700px;
}
.p5Canvas {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 475px) {
  #canvasContainer {
    width: auto;
    height: 300px;
  }
}
