@font-face {
  font-family: fira;
  src: url(assets/FiraCode-Retina.ttf);
}

html,
body {
  background-color: rgb(22, 22, 22);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  cursor: grab;
}

.container {
  height: 200vh;
  background-color: rgb(22, 22, 22);
  position: static;
}
canvas {
  display: block;
}
.blink_me {
  animation: blinker 1s ease-in-out infinite;
}

@keyframes blinker {
  100% {
    opacity: 0;
  }
}
.tonasket {
  font-style: italic;
  color: rgb(6, 116, 79);
  font-size: 30px;
}

.myContainer {
  position: relative;
  top: 100vh;
  text-align: center;
  font-size: xx-large;
  font-family: "fira";
  color: white;
  height: 100vh;
  background-color: rgb(22, 22, 22);
}

@media only screen and (max-width: 400px) {
  .myContainer {
    position: relative;
    top: 50vh;
    text-align: center;
    font-size: xx-large;
    font-family: "fira";
    color: white;
    height: 100vh;
    background-color: rgb(22, 22, 22);
  }
}

.links {
  text-decoration: none;
  color: white;
}
.links:hover {
  color: rgb(6, 116, 79);
}
